*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    list-style: none;
}
.gc {
    background: linear-gradient(45deg, #940fac, #890562, #a609c2, #9C27B0, #673AB7, #37007e, #630488, #9d2dcd, #0a0096, #7b4081, #5947a9, #7f19a1);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 5s ease infinite;
  }

  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
:root{
    --bg-color:#000;
    --text-color: #fff;
    --main-color:#E4A5FF;
}
body{
    min-height:100vh;
    background: var(--bg-color);
    color:var(--text-color)
}
/* Basic function */
/* mouse effect blob */

@keyframes rotate {
    from {
      rotate: 0deg;
    }
    
    50% {
      scale: 1 1.5;
    }
    
    to {
      rotate: 360deg;
    }
  }
  
  #blob {
    height: 34vmax;
    aspect-ratio: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, aquamarine, mediumpurple);
    animation: rotate 20s infinite;
    z-index: 1;
    opacity: 0.8;
  }
  #blur {

    position: absolute;
    z-index: 2;
    backdrop-filter: blur(12vmax);
  }
header{
    background-color: var(--bg-color);
    position: fixed;
    width: 100%;
    top:0;
    right: 0;
    z-index:1001;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backface-visibility: hidden;
    padding: 28px 12% ;
    transition: all .50s ease;
}
.logo{
    display: flex;
    align-items: center;
}
.logo i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 3px;
}
.logo span{
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 600;
    margin-left: 5px;
}
.navbar{
    display: flex;
}
.navbar a{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding:5px 0;
    margin:0 30px;
    transition: all .50s ease;
}
.navbar a:hover{
    color: var(--main-color);
}
.navbar a.active{
    color: var(--main-color);
}
.main{
    display: flex;
    align-items: center;
}
#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index:10001;
    display: none;
}
@media(max-width: 1280px){
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0 20px;
    }
}
@media(max-width:1090px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top:100%;
        right: -100%;
        width: 220px;
        background-color: var(--bg-color);
        opacity: 0.8;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border-radius: 10px;
        transition: all .50s ease-in;
    }
    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0 25px;
        transition: all .50s ease;
    }
    .navbar a:hover{
        color: var(--text-color);
        transform: translateY(5px);
    }
    .navbar a.active{
        color: var(--text-color);
    }
    .navbar a.active{
        color: var(--text-color);
    }
    .navbar.open{
        right:2%;
    }
}
/* ------------------------Nevbar Ends here-------------- */
/* Page-01 begins  */
.page1{
    padding: 28px 12% 0 12% ;
    margin-bottom: 0;
    width: 100vw;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}
.myphoto{
    height: 500px; 
}
.name{
    display: flex;
    justify-content: center;
    align-items: end;
}

.photo{
    display: flex;
    align-items: end;
    justify-content: end;
}
hr{
    border-top: solid white 2px;
}
@media(max-width: 1280px){
    .page1{
        padding: 2% 2% 0 2% ;
        transition: .2s;
        justify-content: space-around;
    }

}
@media(max-width:900px){
    .page1{
        flex-direction: column;
        align-items: center;

    }
    #text{
        margin-top:3vh !important;
        margin-bottom:5vh !important;
    }
    .myphoto{
        height: 400px;        

    }
    .photo.o{
        order:1;
    }
    .photo{
        position: relative;
        display: inline-block;
        background: black;
      }
      
    .photo::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
            z-index: 1;
      }
    .name{
        order:2;
        text-align:center;
    }
}
/*------------------Page-01 ends here--------------------- */
/* Page -02 begins */
.memoji>img{
    height: 200px;
    margin-top: 20%;
    margin-right: 25%;
}

.page2{
    padding: 30vh 12% ;
    min-height: 65vh;
    max-width: 100vw;
    display: flex;
    justify-content: space-evenly;
    background-color:white;
    color: var(--bg-color);
    z-index: 3;
}
.memoji{
    width:40vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.aboutme{
    width:45vw;
    text-align: justify;
}
@media(max-width: 1280px){
    .page2{
        padding: 25vh 2%;
        transition: .2s;
    }
}
@media(max-width:900px){
    .page2{
        flex-direction: column;
        align-items: center;
    }
    .memoji{
        width:200px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom:10%;
    }
    .aboutme{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        padding: 10px 25px ;
    }
    .memoji > img{
        margin-right: 0;
    }

}
/*------------------Page-02 ends here--------------------- */
/* Page-03 starts here SKILLS */
.page3{
    margin-top: 20vh;
    padding: 28px 12% ;
    min-height: 65vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 3;
}
/* .page3>li{
    display: flex;
    justify-content: center;
    align-items: center;
}
*/
.page3container{
    display: flex;
    min-width: 90vw;
    padding: 28px 12% ;
    justify-content: space-between;
    flex-wrap: wrap;
}
body > section > div.page3 > div.skill > h3{
    margin-left: 12vw;

 } 
 .lastItemOnList{
    margin-bottom: 20vh;
 }
@media(max-width:700px){   
    .page3{
        flex-direction: column;
        padding: 10px 35px;
        align-items: center;
    } 
    .page3container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

    }
     body > section > div.page3 > div.skill > h3{
        margin-left: 0;
     }
    .skill{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .skill > ul > li{
        display: flex;
        align-items: center;
        justify-content: center;
     }
}
/* -------------------Page-03 ends here------------------------------ */
/* Page-04 begins here */
.page4{
    padding: 20vh 12% ;
    min-height: 65vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color:var(--text-color);
    color: var(--bg-color);
    z-index: 3;
}
.page4>h3,h2{
    margin-bottom: 30px;
}
.page4container{
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.page4container>*{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width: 1280px){
    .page4container{
        justify-content: start;
    }
    .row2{
        margin-left: auto;
    }
    
}
@media(max-width:810px){
    .page4container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .page4{
        text-align: center;
    }
    .row1{
        gap: 9px;
    }
    .row2{
        margin-left: 0;
        gap: 9px;
    }

}
/* -------------------Page-04 ends here------------------------------ */
/* footer begins here */

.cont{
    display:flex;
    z-index: 3;
    align-items: center;
    justify-content: center;
}
.footerc{
    width: 100vw;
    display: flex;
    align-items: center;
    height: 30vh;;
    gap: 26%;
    justify-content: space-evenly;
    text-align: center;
}

@media(max-width: 1280px){
    .rowa,.rowb{
        margin: 0 20px;
    }
.footerc{
    justify-content: space-between;
    }
}
@media(max-width: 877px){
    .footerc{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}/*footer ends here  */

/* Animations for scrolling */
.hidden {
    opacity: 0;
    filter: blur (5px) ;
    transform: translateX(-100%) ;
    transition: all 2s;
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translatex(0);
}
.logo:nth-child(2){
    animation-delay: 300ms;
}
.logo:nth-child(3){
    animation-delay: 700ms;
}
.logo:nth-child(4){
    animation-delay: 1000ms;
}

/*----------------------------------- Cool hover animation CSS-----------------------------*/

.line {
    display: flex;
    justify-content: space-between;
  }
  
  .container {
    margin-left: 10vw;
    width: 20.3vw;
  }
  
  #text:has(.fancy:hover) .word:not(.fancy:hover) {
    opacity: 0.2;
  }
  
  .fancy > .letter {
    display: inline-block;
    transition: transform 350ms ease;
    z-index: 1; 
  }
  
  .fancy:hover > .letter {
    background: linear-gradient(to right,#673AB7,#9d2dcd, #5947a9 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: transform 800ms;
  }
  
  .fancy:hover > .letter:nth-child(1) {
    transform: translate(-110%, 42%) rotate(-14deg);
    z-index: 2; 
  }
  
  .fancy:hover > .letter:nth-child(2) {
    transform: translate(-40%, 20%) rotate(4deg);
    z-index: 2; 
  }
  
  .fancy:hover > .letter:nth-child(3) {
    transform: translate(-10%, 60%) rotate(-6deg);
    z-index: 2; 
  }
  
  .fancy:hover > .letter:nth-child(4) {
    transform: translate(0%, 8%) rotate(-8deg);
    z-index: 2; 
  }
  
  .fancy:hover > .letter:nth-child(5) {
    transform: translate(0%, -20%) rotate(5deg);
    z-index: 2; 
  }
  
  .fancy:hover > .letter:nth-child(6) {
    transform: translate(0%, 20%) rotate(-3deg);
    z-index: 2; 
  }
  
  .fancy:hover > .letter:nth-child(7) {
    transform: translate(0%, -40%) rotate(-5deg);
    z-index: 2; 
  }
  
  .fancy:hover > .letter:nth-child(8) {
    transform: translate(0%, 15%) rotate(10deg);
    z-index: 2; 
  }
  
  .fancy:hover > .letter:nth-child(9) {
    transform: translate(0%, -50%) rotate(8deg);
    z-index: 2; 
  }
  
  .fancy:hover > .letter:nth-child(10) {
    transform: translate(0%, 15%) rotate(-6deg);
    z-index: 2; 
  }
  
  .fancy:hover > .letter:nth-child(11) {
    transform: translate(50%, -10%) rotate(-3deg);
    z-index: 2; 
  }
  
  #text {
    color: white;
    font-size: 1.9rem;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    text-transform: uppercase;
  }
  .fancy {
    position: relative;
  }
  